@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "futura";
    src: url("../public/assets/fonts/Futura.ttf");
}

@font-face {
    font-family: "DMSans";
    src: url("../public/assets/fonts/DMSans.ttf");
}

h1,
h2,
h3 {
    font-family: "futura";
}

html,
body {
    font-family: "DMSans";
}

.container {
    margin: auto;
    width: 90%;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-image: linear-gradient(#1bb7ff, #0053a5);
}

.dropdown-body {
    display: none;
    z-index: 201;
}

.dropdown-opener:hover>.dropdown-body {
    display: block;
}